$laptop-small-width: 1024px;
$tablet-width: 768px;
$mobile-big-width: 425px;
$mobile-small-width: 375px;

$light: white;
$linksHover: orange;
$textColor: black;

$buttonCorrect: rgb(64,199,129);
$buttonCorrectShadow: rgb(53,167,110);
$buttonCorrectActive: rgb(33,147,90);
$buttonCorrectActiveShadow: #17653e;
$buttonCorrectHover: rgb(101, 218, 157);

$buttonError: #ef5f5f;
$buttonErrorShadow: #c34040;
$buttonErrorActive: #9e2a2a;
$buttonErrorActiveShadow: #7d1a1a;
$buttonErrorHover: #f77d7d;

$textError: #e72626;

