.module {

}

.module__background {
    background-image: url('../../img/back_login.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    position: fixed;
    z-index: -1;
}
.module__hello{
    color: black;
    text-align: center;
    margin: 100px auto;
    background-color: white;
    font-size: 2.0rem;
    padding: 20px;
    width: 50%;
    border-radius: 15px;
    border: 2px solid mediumpurple;
}