/* @import 'filename.css'; */ /* импорт другого файла стилей (например, шрифта) - вебпак соберет и его*/
/* @import '~normalize.css'; */ /* тильда означает, что пакет нужно искать в node_modules */

// @import 'module.scss';

@import './abstract/constants.scss';
@import './abstract/mixins.scss';

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 10px;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    min-height: calc(100vh - 71px);
    display: flex;
    flex-direction: column;
}

.content {
    flex-grow: 1;
}

.wrapper {
    max-width: 1024px;
    margin: 0 auto;
    height: 100%;
    @include media-laptop-small {
        max-width: 768px;
    }
    @include media-tablet {
    max-width: 600px;
    }
    @include media-mobile-big {
    max-width: 400px;
    }
    @include media-mobile-small {
    max-width: 300px;
    }
}

body {
    margin: 71px 0 0;
}
